*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: black;
}


.loading{
    color: white;
    margin: 0 auto;
}

.error{
    color: white;
}
.header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nomovie{
    color: white;
}
.searchbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 45px;
    margin-right: 400px ;
    border-radius: 5px;
}

.searchbox input{
    width: 600px;
    height: 30px;
    color: black;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.searchbox button{
    color: black;
    width: 70px;
    height: 30px;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.searchbox button:hover{
    cursor: pointer;
}

.header img{
    width: 100px;
    height: 60px;
}

.movie-list{
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.movie-card{
    width: 300px;
    height: 550px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 7px;
    background-color: white;
}

.movie-card img{
    border-radius: 7px;
    width: 100%;
    height: 450px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-info div{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    align-items: center;
}

.modal{
    width: 800px;
    position: fixed;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    left: 400px;
    top: 150px;

}

.modal-box{
    display: flex;
    margin: 20px;
}

.modal-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    align-items: start;
    gap: 10px;
}
.modal-box img{
    height: 300px;
}

.backbtn{
    position: absolute;
    top: 5px;
    right: 14px;
    font-size: 22px;
    line-height: 1;
    background: none;
    border: none;
}

.modalload{
    color: black;
}