*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display-section{
    margin-right: 40px;
}