*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 40px;
    border: 2px solid black;
}



.middle{
    height: 150px;
    display: flex;
    justify-content: space-between;
}

.bottom{
    display: flex;
}

.pipeline{
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid black;

}
.info-block{
    display: flex;
}

.info-box{
    margin-right: 10px;
}

.updates{
    width: 50%;
    height: 300px;
    border: 2px solid black;
}

.update-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}