*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(192, 189, 189, 0.507);
    border-radius: 8px;
    padding: 0px 15px;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.left ul{
    display: flex;
}

.left ul li{
    margin-left: 20px;
}