*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    width: 15%;
    height: 100%;
    margin-top: 0;
    
}

.nav-btn{
    border: none;
    background-color:transparent;
}

.navbar ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.navbar li{
    width: 254px;
    height: 65px;
    background-color: rgba(192, 189, 189, 0.507);
    border-radius: 8px;
    border-bottom: 2px solid gray;
}

.navbar li button:hover{
    cursor: pointer;
}

.navbar li button{
    font-size: 23px;
}

.navbar li:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.nav-btn::before{
    content: '•';
    margin-right: 5px;

}

.navbar p{
    width: 100%;
    border: 2px dotted gray;
}

.tip{
    margin-top: 20px;
}